.logo-aveza {
  text-align: center;
}
.datos {
  text-align: center;
}
.verificacion {
  text-align: center;
}

/* registro de cliente */
.comentarios {
  text-align: center;
}
.tipo-de-caso {
  text-align: center;
}

/* agendar cita */
.fecha-y-hora {
  text-align: center;
}
.tipo-de-cita {
  text-align: center;
}
.guardar {
  text-align: center;
}

/* tipo de recordatorio */
.tipo-de-recordatorio {
  text-align: center;
}

/*menu principal  */
.menu-principal {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(78, 120, 244);
  display: flex;
  justify-content: center;
}

.menu-principal li a {
  color: rgb(235, 224, 224);
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.menu-principal li a:hover {
  background: rgb(116, 114, 196);
  color: rgb(235, 224, 224);
}
