.logo-aveza {
  height:60px; width:10%;margin: 0 0 0 0; padding:0
}

/* .datos {
  text-align: center;
} */
.verificacion {
  text-align: center;
}

/* registro de cliente */
.comentarios {
  text-align: center;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}
.tipo-de-caso {
  text-align: center;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.botondoclegales {
  margin: 0 0 0 400px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.botondoclegales2 {
  margin: 0 0 0 50px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.botondoclegales3 {
  margin: 0 0 0 500px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.olvidocontraseña {
  margin:0 0 0 780px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: blue
}

.botoncrearusuario {
  margin:0 0 0 800px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

/* agendar cita */
/* .fecha-y-hora {
  text-align: center;
} */
.tipo-de-cita {
  text-align: center;
}
.guardar {
  text-align: center;
}

/* tipo de recordatorio */
.tipo-de-recordatorio {
  text-align: center;
}

/*menu principal  */
.menu-principal {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(78, 120, 244);
  display: flex;
  justify-content: center;
}

.menu-principal li a {
  color: rgb(235, 224, 224);
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.menu-principal li a:hover {
  background: rgb(116, 114, 196);
  color: rgb(235, 224, 224);
}

.titulo {height:20px; width:100%;margin:0; padding:0; text-align: center;font-size: 180%;font-family: Arial, Helvetica, sans-serif;color:black}

.labelcrearusuario {height:20px; width:10%;margin:0 0 0 400px; padding:0; font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}
.cajanombre {height:20px; width:10%;margin: 0 0 0 55px; padding:0}
.labelcrearusuario2 {height:20px; width:10%;margin:0 0 0 80px; font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}
.cajaemail {height:20px; width:10%;margin: 0 0 0 70px; padding:0}
.cajaapellido {height:20px; width:10%;margin: 0 0 0 50px; padding:0}
.cajahonorarios {height:20px; width:10%;margin: 0 0 0 15px; padding:0}
.cajadireccion {height:20px; width:10%;margin: 0 0 0 65px; padding:0}
.cajacelular {height:20px; width:10%;margin: 0 0 0 75px; padding:0}
.cajaciudad {height:20px; width:10%;margin: 0 0 0 80px; padding:0}
.botoncancelar {height:20px; width:10%;margin:0 0 0 300px; font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}
.escogeraviso {font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black} 
.labelcontraseña{height:25px; width:10%; margin:0 0 0 650px; font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}
.titulo2 {height:20px; width:100%;margin:0; padding:0; text-align: center;font-size: 100%;font-family: Arial, Helvetica, sans-serif;color:black}
.labeltipousuario {height:20px; width:10%;margin:0 0 0 700px; padding:0; font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}
.medioenvio{font-size: 100%;font-family: Arial, Helvetica, sans-serif;color: black}